name: UI tests

on:
  workflow_dispatch:
    inputs:
      scenario:
        description: "E2E scenario"
        required: true
        type: choice
        options:
          - all
          - registered_return
          - registered_order
          - guest_return
          - guest_order

      registered_email:
        description: "Registered user email"
        required: false

      registered_password:
        description: "Registered user password"
        required: false

      guest_email:
        description: "Guest email"
        required: false

jobs:
  run:
    runs-on: ubuntu-latest

    env:
      BASE_URL: ${{ secrets.BASE_URL }}
      PW_HEADLESS: "true"
      PW_TIMEOUT_MS: "15000"

      # Registered creds:
      STAGE_EMAIL: ${{ inputs.registered_email != '' && inputs.registered_email || secrets.STAGE_EMAIL }}
      STAGE_PASSWORD: ${{ secrets.STAGE_PASSWORD }}

      # Guest email:
      GUEST_EMAIL: ${{ inputs.guest_email != '' && inputs.guest_email || secrets.GUEST_EMAIL }}

      # Shipment API:
      SHIPMENT_API_URL: ${{ secrets.SHIPMENT_API_URL }}
      SHIPMENT_API_USER: ${{ secrets.SHIPMENT_API_USER }}
      SHIPMENT_API_PASSWORD: ${{ secrets.SHIPMENT_API_PASSWORD }}
      SHIPMENT_INTEGRATION_KEY: ${{ secrets.SHIPMENT_INTEGRATION_KEY }}
      SHIPMENT_POST_PERSIST_HOOK: ${{ secrets.SHIPMENT_POST_PERSIST_HOOK }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python -m playwright install --with-deps chromium

      - name: Run tests
        run: |
            case "${{ inputs.scenario }}" in
              all)
                pytest -m e2e
                ;;
              registered_return)
                pytest -m "e2e and e2e_registered and e2e_return"
                ;;
              registered_order)
                pytest -m "e2e and e2e_registered and e2e_order"
                ;;
              guest_return)
                pytest -m "e2e and e2e_guest and e2e_return"
                ;;
              guest_order)
                pytest -m "e2e and e2e_guest and e2e_order"
                ;;
            esac

      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-artifacts
          path: |
            allure-results
            artifacts